* {
    font-family: "Roboto";
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background: linear-gradient(90deg, #144C87, #4a5fa1);
    
}

#particles1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.contenido-banner {
    position: relative;
    color: #fff;
    text-align: center;
   padding-top: 60px;
}

.contenido-banner h1 {
    font-size: 3rem;
    margin: 0;
    padding-top: 60px;
}


.video-container, .video2-container {
    display:flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}

video {
    width: 45%;
    border: 5px solid #273171;
    border-radius: 10px;
    max-width: 400%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botones-video button {
    background: #273171;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.botones-video button:hover {
    background: #1d255c;
}

.botones-video svg {
    width: 20px;
    height: 20px;
}

.seccion {
    padding: 50px 20px;
    background: #fff;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #273171;
    margin-bottom: 20px;
}

.navbar {
    background: linear-gradient(90deg, #144C87, #4a5fa1);
    color: #fff;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap !important;
    /* Evita que las letras se vayan a otra línea */
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    width: auto;
    max-height: 50px;
    /* Ajusta el tamaño del logo */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        /* Opcional: apilar enlaces en pantallas pequeñas */
        align-items: center;
    }
}

.testimonios-container {
    text-align: center;
    width: 80%;
    margin: auto;
    position: relative;
}

.testimonios-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    margin: auto;
    position: relative;
}

.testimonio {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.testimonio.active {
    opacity: 1;
    position: relative;
}

.testimonio img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #273171;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #1d255c;
}

.por-que-elegirnos {
    text-align: center;
    padding: 80px 20px;
}

.por-que-elegirnos h2 {
    font-size: 2.5rem;
    color: #273171;
    margin-bottom: 50px;
}

.seccion-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px;
}

.tarjeta {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.tarjeta h3 {
    color: #273171;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.tarjeta p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 15px;
}

.tarjeta ul {
    list-style: none;
    padding: 0;
}

.tarjeta li {
    background: #273171;
    color: #fff;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 8px;
    display: inline-block;
}

.tarjeta-elegirnos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    color: #273171;
}

.razon svg {
    margin-bottom: 20px;
    color: #273171;
}


.clientes-scroll {
    overflow-x: auto;
    /* Permite desplazamiento horizontal */
    white-space: nowrap;
    /* Evita que los elementos se envuelvan */
    display: flex;
    scrollbar-width: none;
    /* Oculta la barra de desplazamiento en Firefox */
    -ms-overflow-style: none;
    /* Oculta la barra en Edge y Explorer */
}

.clientes-scroll::-webkit-scrollbar {
    display: none;
    /* Oculta la barra en Chrome y Safari */
}

.logos {
    display: flex;
    gap: 20px;
    /* Espacio entre logos */
    padding: 20px;
}

.logos img {
    height: 50px;
    /* Ajusta el tamaño del logo */
    width: auto;
    cursor: grab;
}

.informacion-empresa h2 {
    text-align: center;
    font-size: 2.0rem;
    margin-top: 50px;
}

.info-contacto {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-contacto li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-contacto svg {
    margin-right: 8px;
    color: #273171;
}

.info-contacto span {
    font-size: 1.1rem;
}

.NIT {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
    vertical-align: middle;
}

.NIT li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.NIT svg {
    margin-right: 5px;
    color: #273171;
}

.NIT span {
    font-size: 1.1rem;
}

.telefono {
    list-style: none;
    padding: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telefono li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.telefono svg {
    margin-right: 8px;
    color: #273171;
}

.telefono span {
    font-size: 1.1rem;
}

.correo-electronico {
    list-style: none;
    padding: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.correo-electronico li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.correo-electronico svg {
    margin-right: 8px;
    color: #273171;
}

.correo-electronico span {
    font-size: 1.1rem;
}

.redes-sociales {
    text-align: center;
    padding: 20px;
}

.info-redes {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-redes li {
    display: flex;
    align-items: center;
}

.info-redes a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #273171;
    font-weight: bold;
}

.info-redes svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    fill: #273171;
}

.info-redes a:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    position: relative;
    height: 70vh;
    /* Reducimos la altura total */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    /* Asegura que la imagen se ajuste sin deformarse */
    background-position: center;
    /* Centra bien la imagen */
    background: url('../IMG/ciudad-futurista.jpg') no-repeat center center/cover;
    filter: blur(3px);
    /* Aplica el blur solo a la imagen */
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 1;
    /* Asegura que el texto esté por encima del fondo */
}

.hero h1 {
    font-size: 3rem;
    text-align: center;
    /* Alineación centrada */
    width: 100%;
    /* Ocupa todo el ancho */
    word-wrap: break-word;
    /* Permite que las palabras largas pasen a otra línea */
    overflow-wrap: break-word;
    /* Otra opción para ajustar el texto */
    padding: 10px;
    /* Espacio alrededor para evitar que se pegue a los bordes */
}

.hero p {
    font-size: 1.3rem;
    margin: 20px 0;
    text-align: center;
    /* Alineación centrada */
    width: 100%;
    /* Ocupa todo el ancho */
    word-wrap: break-word;
    /* Permite que las palabras largas pasen a otra línea */
    overflow-wrap: break-word;
    /* Otra opción para ajustar el texto */
    padding: 10px;
    /* Espacio alrededor para evitar que se pegue a los bordes */
}

/* Secciones Misión y Visión */
.seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.seccion img {
    width: 40%;
    border-radius: 8px;
}

.texto {
    width: 50%;
    padding: 20px;
}

.texto h2 {
    font-size: 2rem;
    color: #273171;
}

.texto p {
    font-size: 1.1rem;
    color: #273171;
}

.inversa {
    flex-direction: row-reverse;
}

/* Nuestro Equipo */
.equipo {
    text-align: center;
    padding: 50px 20px;
}

.equipo h2 {
    font-size: 2.0rem;
    text-align: center;
    /* Alineación centrada */
    width: 100%;
    /* Ocupa todo el ancho */
    font-size: 1.5rem;
    /* Tamaño del texto más adaptable */
    word-wrap: break-word;
    /* Permite que las palabras largas pasen a otra línea */
    overflow-wrap: break-word;
    /* Otra opción para ajustar el texto */
    padding: 10px;
    /* Espacio alrededor para evitar que se pegue a los bordes */

}

.tarjetas-equipo {
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-wrap: nowrap;
    /* Mantiene las tarjetas en una fila */
    justify-content: flex-start;
    /* Alinea las tarjetas al inicio */
    gap: 20px;
    overflow-x: auto;
    /* Desplazamiento horizontal si no caben todas */
    width: 100%;
    /* Asegura que el contenedor ocupe todo el ancho */
    padding: 10px;
    /* Añade un poco de espacio para que no queden pegadas */
}

.tarjeta-equipo h3 {
    margin-bottom: 10px;
    color: #273171;
}

.tarjeta-equipo p {
    color: #555;
}

@media screen and (min-width: 768px) {
    .nuestro-equipo {
        flex-wrap: wrap;
        /* Permite que se distribuyan en varias filas */
        justify-content: center;
    }
}

.tarjeta {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(17, 16, 16, 0.234);
    width: 280px;
}

.tarjeta img {
    width: 100%;
    border-radius: 8px;
}

.tarjeta h3 {
    color: #273171;
}

.tarjeta p {
    color: #273171;
}

.servicios {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
    padding-top: 120px;
}

.servicios h2 {
    text-align: center;
    color: #273171;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: 30px;
}

.contenedor-tarjetas {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    margin-left: 30px;
}

.tarjeta {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.tarjeta svg {
    color: #273171;
    margin-bottom: 10px;
}

.tarjeta h3 {
    color: #273171;
    font-size: 1.5rem;
}

.tarjeta p {
    color: #273171;
    font-size: 1rem;
}

.tecnologias {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.tecnologias li {
    display: inline-block;
    background: #273171;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.modelos-contratacion {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.modelos-contratacion h2 {
    font-size: 2.5rem;
    color: #273171;
    margin-bottom: 50px;
}

.contenedor-modelos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.modelo {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modelo:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.modelo svg {
    color: #273171;
    margin-bottom: 20px;
}

.modelo h3 {
    font-size: 1.5rem;
    color: #273171;
}

.modelo p {
    color: #555;
    font-size: 1rem;
}

.encabezado-contacto {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.video-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    /* Desenfoque suave */
    opacity: 0.8;
    /* Ligera transparencia */
    z-index: -1;
}

.contenido-encabezado {
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 12px;
}

.contenido-encabezado h1 {
    font-size: 2rem;
    font-weight: bold;
}

.contenido-encabezado h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.contenido-encabezado p {
    font-size: 1.2rem;
}

.contacto h2 {
    color: #273171;
    font-size: 2rem;
}

.form-contacto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.form-contacto input,
.form-contacto textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    margin-left: 40px;
}

.form-contacto button {
    background-color: #4a5fa1;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    margin: 0 auto;
    width: 150px;
}

.form-contacto button:hover {
    background-color: #273171
}

footer {
    margin-top: 40px;
    background: linear-gradient(90deg, #144C87, #4a5fa1);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.certificaciones {
    padding: 40px;
    text-align: center;
}

.certificaciones h2 {
    color: #273171;
    font-size: 2rem;
    margin-bottom: 20px;
}

.contenedor-certificaciones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contenedor-certificaciones img {
    width: 100px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.contenedor-certificaciones img:hover {
    transform: scale(1.1);
}


/* Estilo para el scrollbar */
::-webkit-scrollbar {
    width: 12px;
    /* Ancho del scrollbar */
    height: 12px;
    /* Alto del scrollbar (para scroll horizontal) */
}

/* Estilo del fondo del scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color de fondo del track */
    border-radius: 10px;
    /* Bordes redondeados en el track */
}

/* Estilo de la barra del scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #273171;
    /* Color de la barra */
    border-radius: 10px;
    /* Bordes redondeados en la barra */
    border: 2px solid #f1f1f1;
    /* Un borde suave para darle separación */
}

/* Efecto al pasar el mouse sobre el scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: #3b4b8d;
    /* Color al pasar el mouse */
}

/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 768px) {

    .videos {
        margin-left: 0;
        /* Quita el margen en pantallas pequeñas */
        margin-top: 20px;
        /* Añade espacio entre el título y el video */
    }
}